AON_PORT=8787
AON_P2P_PORT=9000
AON_PEER_KEY_PATH=./data/peer.key
AON_BOOTSTRAP=
AON_DATA_DIR=data
AON_WS=true
AON_WS_PORT=8788
AON_WS_PEERS=
AON_LORA_PORT=
AON_BT=false
AON_RNS=false
AON_MAX_PEERS=50
